.patient-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem; /* 카드 사이 간격 */
  margin-top: 2rem;
}

.patient-card {
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}


.cntPatient{
    padding-left: 1%;
    font-size: 1.09rem;
    margin-bottom: 0.25rem;
}
    
.patient-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.patient-header-right {
  text-align: right;
  white-space: nowrap; /* 줄바꿈 방지 */
  min-width: fit-content;
  padding-right: 1%;
}

.patient-header-left {
  flex: 0 1 auto; /* grow 하지 않게 */
}